<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>To do List</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <link rel="stylesheet" href="./font/css/font-awesome.min.css">
  <link rel="stylesheet" href="./todo.css">
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>
  <div class="container" id="app">
    <div class="container col-8 mt-5" >
      <div class="row"> 
        <div class="container col-8">        
          <label class="control-label">Task name</label>
          <input type="text" v-model="stage.todoitem.taskname" class="form-control" id="taskname" name="taskname" v-on:change="displayChange" />
        </div>
      </div>
      <div class="row"> 
        <div class="container col-8">        
          <label  class="control-label">Status</label>
          <select class="form-control" v-model="stage.todoitem.statusselect" v-on:change="displayChange">
            <option v-for = "item in status" v-bind:value="item.value"> {{ item.text }} </option>
          </select>
        </div>
      </div>
      <div class="row"> 
        <div class="container col-8">
          <label class="control-label">Date Time</label>
          <div class="form-inline col-md-10">
            <div class="col-md-2" style="display:inline">
              <select id="selectDate" class="form-control" v-model="stage.todoitem.dateselect" >
                <option v-for = "day in date" v-bind:value="day.value"> {{ day.text }} </option>
              </select>
            </div>
            <div class="col-md-4" style="display:inline">
              <select id="selectMonth" class="form-control" v-model="stage.todoitem.monthselect" >
                <option v-for = "month in months" v-bind:value="month.value"> {{ month.text }} </option>
              </select>
            </div>
            <div class="col-md-4" style="display:inline">
              <select id="selectYear" class="form-control" v-model="stage.todoitem.yearselect" >
                <option v-for = "year in years" v-bind:value="year.value"> {{ year.text }} </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="container col-8 align-text-top" style="vertical-align:top;">        
          <label class="control-label">Task Detail</label>
          <textarea class="form-control" v-model='stage.todoitem.taskDetail'></textarea>
        </div>
      </div>
      <div class="row justify-content-md-center"> 
        <div class="container col-4 mt-3">
          <button type="button" id="btnsave" :disabled=isSave class="btn btn-primary" v-on:click="save(stage.todoitem.taskid)">Add/Save</button>
          <button type="button" class="btn btn-default" v-on:click="clearDisplay">Clear</button>
        </div>
      </div>
    </div>
    <div class="row"> 
      <div class="container mt-5">
        <div class="container col-12">
          <div class="form-inline container">
            <div class="col-1" style="display:inline;border: 1px solid;">
              No
            </div>
            <div class="col-3" style="display:inline;border: 1px solid;">
              Name
            </div>
            <div class="col" style="display:inline;border: 1px solid;">
              Date Time
            </div>
            <div class="col" style="display:inline;border: 1px solid;">
              Status
            </div>
            <div class="col-1" style="display:inline;border: 1px solid;">
              Update
            </div>
            <div class="col-1" style="display:inline;border: 1px solid;">
              Delete
            </div>
          </div>        
          <todoitem v-for = "(item, index) in stage.todolists" :todoitem="item" :itemindex="index" :stage="stage" v-model="stage"></todoitem>
        </div>        
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script src="todo.js"></script>
</body>
</html>
